.admin-dashboard {
    background-color: rgb(42, 42, 42);

    .bargraphs {
        display: flex;
        justify-content: space-between;

    }

    // opacity: 0.5;
    height: 100%;
    width: 100%;
    margin-top: 1px;
    padding-bottom: 83px;

    .chart-div {
        width: 70%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        padding-top: 25px;
        opacity: 1;
        position: sticky;

        .count-div {
            display: flex;
            justify-content: space-between;
            color: white;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            z-index: 10;


            .user-count {
                background-color: rgb(0, 0, 0);
                padding: 1rem;
                border-radius: 5px;
                text-align: center;
            }

            .post-count {
                background-color: rgb(0, 0, 0);
                padding: 1rem;
                border-radius: 5px;
                text-align: center;
            }

            .report-count {
                background-color: rgb(0, 0, 0);
                padding: 1rem;
                border-radius: 5px;
                text-align: center;
            }

        }
    }

    label {
        color: white;
        padding-right: 20px;
        font-size: 25px;
    }
}

// .admin-dashboard::before{
//     content: "";
//     position: absolute;
//     top: 50px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;

//     background-image: url("../../Assets/Images/4561977.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-attachment: fixed;
//     opacity: 0.5;
// }

.ten-year {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-user-div {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;

    p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        z-index: 10;
    }
}

.top-User {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 83px;
}